

body {
  background-color: hsl(227, 94%, 13%);
}

input {
border: 2px solid white;
height: 20px; 
border-radius: 10px; 
}

button {
height: 30px; 
border-radius: 10px; 
}

.scrolled {
  position: fixed;
}

.nav {
  transition: 0.25s; 
}